/* about.css */

  .about-page {
    height: 100vh;
    overflow-y: auto;
  }
  
  .about-content {
    padding: 20px;
    
  }
  
  .reveal-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    font-family: 'DMSerif';
    width: 50%
  }
  
  .show-elements {
    opacity: 1;
    transform: translateY(0);
  }

  .devs {
    color: white;
  }
  